<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488015790763-arutii0j8l6i0g0401h8nid0brqouc0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488015790763-arutii0j8l6i0g0401h8nid0brqouc0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDlZrs8v16lI_ROKlYX_5MPC8lXmAy1jE0</string>
	<key>GCM_SENDER_ID</key>
	<string>488015790763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omda.hesnElMuslim.hesnElmuslim</string>
	<key>PROJECT_ID</key>
	<string>halqet-el-zekr</string>
	<key>STORAGE_BUCKET</key>
	<string>halqet-el-zekr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488015790763:ios:c6452db0bbb0c0cc0b2dee</string>
</dict>
</plist>